SLACK_SIGNING_SECRET=secret
SLACK_BOT_TOKEN=token
SLACK_LOGGING_LEVEL=DEBUG
OPENAI_API_KEY=key
OPENAI_CHAT_MODEL_NAME=gpt-3.5-turbo-1106
OPENAI_EMBEDDINGS_MODEL_NAME=text-embedding-ada-002
OPENAI_BASE_URL=https://api.openai.com/v1
